html {
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background-image: url('fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    border-bottom: #FFD43B 3px solid;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header nav {
    float: right;
}

header ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

header li {
    display: inline;
    padding: 0 20px;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header .cta-button {
    margin-top: 10px;
    display: inline-block;
    background: #FFD43B;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
}

.introducao-content {
    background-color: #ffffff78;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 80px;
}

.introducao-content .imagem img {
    max-width: 50%;
    height: auto;
}

.introducao-content .texto {
    max-width: 60%;
}

#services, #testimonials, #blog {
    padding: 30px 0;
    text-align: center;
}

.service-item, .testimonial-item, .blog-item {
    margin-bottom: 20px;
}

#services .service-item, #testimonials .testimonial-item, #blog .blog-item {
    margin: 20px auto;
    width: 90%;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer p {
    margin: 0;
}

/* hamburguer */
.hamburger-icon {
    display: none;
    cursor: pointer;
    float: right;
    padding: 10px;
    margin-top: 10px;
}

.hamburger-icon .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
}

/* responsividade - marcação pra achar fácil--> ------------------------------------------------------------------------------------------- */

@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    header, header nav {
        float: none;
        text-align: center;
    }

    header ul {
        text-align: center;
    }

    header li {
        display: block;
        padding: 10px 0;
    }

    header .hamburger-icon {
        display: block;
    }

    header nav {
        display: none;
    }

    header nav.active {
        display: block;
    }

    .introducao-content {
        flex-direction: column;
        text-align: center;
        padding-top: 80px;
    }

    .introducao-content .imagem img, .introducao-content .texto {
        max-width: 100%;
        padding: 10px;
    }

    .service-item, .testimonial-item, .blog-item {
        margin: 20px auto;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
    }

    header .logo h1 {
        font-size: 1.5em;
    }

    header .cta-button {
        margin-top: 20px;
    }

    .introducao-content .imagem img {
        margin: 0 auto;
    }

    .service-item, .testimonial-item, .blog-item {
        margin: 10px auto;
        width: 100%;
    }
}